@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /* background: #1a1a1a; */
    background: #0f0f0f;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1a1a1a;
    border-radius: 2px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 5px;
    background-color: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #202020;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #353535;
}

.navbar {
    /* background-color: #363636d8; */
    background-color: #00000007;
    /* width: 100%; */
    border-bottom: 1px #ffffff solid;
    padding: 10px;
}

.navbar a {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: max(2vw, 40px);
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.project {
    border: 1px #ffffff solid;
    border-radius: 5px;
    text-align: center;
    margin-top: max(2.5vw, 40px);
    margin-left: 10%;
    margin-right: 10%;

}

.project a {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: max(0.5vw, 20px);
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    display: block;
}

.quote {
    font-style: italic;
}

.project img {
    border: 2px #ffffff solid;
    border-radius: 5px;
    height: max(10vw, 10rem);
    margin: 2vh;
    box-shadow: 0 0 10px #7c0affde;
}

.project button {
    background-color: #00000000;
    border: 2px #ffffff solid;
    border-radius: 5px;
    font-size: max(2vw, 30px);
    text-align: center;
    color: #ffffff;
    transition: 0.2s;
    padding: 10px;
    margin: 25px;

}

.project button:hover {
    border: 2px #f6e6ff solid;
    background-color: #b341ff00;
    color: #f6e6ff;
    text-shadow: 0 0 15px #7700ffde;
    box-shadow: 0 0 15px #7c0affde;
}

.footer a {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: max(0.5vw, 20px);
    margin: 20px;
    display: block;
}

.footer a img {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    padding-bottom: 0.2em
}