    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    html {
      height: auto;
      /* background-color: #4b0997; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background: #4b0997;
      background: -webkit-linear-gradient(to left top, #4b0997, black);
      background: -moz-linear-gradient(to left top, #4b0997, black);
      background: -ms-linear-gradient(to left top, #4b0997, black);
      background: -o-linear-gradient(to left top, #4b0997, black);
      background-image: linear-gradient(to bottom right, #4b0997, black);
    }

    header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px 10%;
      background-color: #24252a;
    }

    .logo {
      margin-right: auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 1000;
      color: #edf0f1;
    }

    .nav__links {
      list-style: none;
      display: flex;
    }

    .nav__links a,
    .cta,
    .overlay__content a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #edf0f1;
      text-decoration: none;
    }

    .nav__links li {
      padding: 0px 20px;
    }

    .nav__links li a {
      transition: all 0.3s ease 0s;
    }

    .nav__links li a:hover {
      color: #7700ff;
    }

    .cta {
      margin-left: 20px;
      padding: 9px 25px;
      background-color: #0088a9;
      border: none;
      border-radius: 250px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }

    .cta:hover {
      background-color: #4b0997;
    }

    /* Mobile Nav */
    .tab-bar {
      background-color: #4b0997;
    }

    .menu {
      display: none;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      background-color: #24252a;
      overflow-x: hidden;
      transition: all 0.5s ease 0s;
    }

    .overlay--active {
      width: 100%;
    }

    .overlay__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .overlay a {
      padding: 15px;
      font-size: 36px;
      display: block;
      transition: all 0.3s ease 0s;
    }

    .overlay a:hover,
    .overlay a:focus {
      color: #4b0997;
    }

    .overlay .close {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      color: #edf0f1;
      cursor: pointer;
    }

    @media screen and (max-height: 450px) {
      .overlay a {
        font-size: 20px;
      }

      .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }

    @media only screen and (max-width: 800px) {

      .nav__links,
      .cta {
        display: none;
      }

      .menu {
        display: initial;
      }
    }




    .column[data-v-057b4f6a] {

      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 440px;
      max-width: 110px;
      width: 440px;
      height: 110px;
      margin: 0 2.6rem;
      border-radius: 12px
    }

    #column2 {
      display: flex;
      flex-direction: column;
      justify-content: right;
      min-width: 440px;
      max-width: 110px;
      width: 110px;
      height: 110px;
      margin: 0 2.6rem;
      border-radius: 12px
    }

    img {
      /* height: 100%; */
      border: 20px #29044d solid;
      border-radius: 10px;
      box-shadow: 0px 0px 10px black;
    }

    .column2 {
      display: block;
      margin-right: 100%;
    }

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

    .texts {
      flex-direction: column;
      color: white;
      font-family: 'Ubuntu',
        sans-serif;
      padding: 30px;
      font-size: 20px
    }

    div.navbar {
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 20px;
      min-width: 40%;
      justify-content: center;
      align-items: center;
    }

    div.navbar a {
      font-family: 'Ubuntu',
        sans-serif;
      text-decoration: none;
      color: white;
      font-size: 20px;
      min-width: 40%;
      max-width: 50%;
      justify-content: center;
      align-items: center;
    }

    div.nav {
      font-family: 'Ubuntu',
        sans-serif;
      display: inline-block;
      width: auto;
      min-width: 40%;
      justify-content: center;
      align-items: center;
      background-color: #2a0158;
      margin: 20px;
      padding: 10px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0px 0px 10px black;
      border: 5px #ffffff solid;
    }

    /* .navbar {
        overflow: hidden;
    
        position: sticky;
        position: -webkit-sticky;
        top: 0;
      } */

    /* div.nav:hover {
      font-family: 'Ubuntu',
        sans-serif;
      background-color: #580d7a;
      box-shadow: 0px 0px 10px white;
    } */

    th {
      width: 1/3;
    }

    th * {
      margin: 20px;
    }

    h1 {
      text-align: center;
    }

    .styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 75%;
      /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
    }

    .styled-table thead tr {
      background-color: #2a0158;
      color: #ffffff;
      text-align: left;
      justify-content: center;
      align-items: center;
    }

    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
      justify-content: center;
      align-items: center;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
      justify-content: center;
      align-items: center;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #2a0158;
      justify-content: center;
      align-items: center;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #2a0158;
      justify-content: center;
      align-items: center;
    }

    .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #2a0158;
    }
    .table-text {
      flex-direction: column;
      color: white;
      font-family: 'Ubuntu',
        sans-serif;
      padding: 30px;
      font-size: 100%
    }